body{
    color:black;
    background:burlywood;
}

header {
    border: solid 2px
}


.chamada {
    padding-top: 80px;
    display: flex;
    background: bisque;
    padding-bottom: 80px;
    justify-content: center

} 

.chamada-texto {
    margin-right: 20px;
}
img {
    
    
}

.categoria-videos {
    display: flex;
    overflow-x:auto;
    gap: 10px
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px

}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid white

}